*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
.vscode/
*.iml
*.test
*.iml

vcd/vcd_test_config*.json
vcd/go-vcloud-director.log
vcd/test-artifacts
website/vendor
vcd/org_user_pwd.txt
vcd/vcd_test_pass_list*.txt
tmp/

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Go workspace
go.work

