{
  "apiVersion": "capvcd.vmware.com/v1.1",
  "kind": "CAPVCDCluster",
  "name": "{{.Name}}",
  "metadata": {
    "name": "{{.Name}}",
    "orgName": "{{.Org}}",
    "site": "{{.VcdUrl}}",
    "virtualDataCenterName": "{{.Vdc}}"
  },
  "spec": {
    "vcdKe": {
      "isVCDKECluster": true,
      "markForDelete": {{.Delete}},
      "forceDelete": {{.ForceDelete}},
      "autoRepairOnErrors": {{.AutoRepairOnErrors}},
      {{- if .DefaultStorageClassName }}
      "defaultStorageClassOptions": {
          "filesystem": "{{.DefaultStorageClassFileSystem}}",
          "k8sStorageClassName": "{{.DefaultStorageClassName}}",
          "vcdStorageProfileName": "{{.DefaultStorageClassStorageProfile}}",
          "useDeleteReclaimPolicy": {{.DefaultStorageClassUseDeleteReclaimPolicy}}
      },
      {{- end }}
      "secure": {
        "apiToken": "{{.ApiToken}}"
      }
    },
    "capiYaml": "{{.CapiYaml}}"
  }
}
