# Change configuration to your needs and rename to 'terraform.tfvars'

# ------------------------------------------------
# Provider config
# ------------------------------------------------
vcd_url                = "https://vcd.my-awesome-corp.com"
administrator_user     = "administrator"
administrator_password = "SuperSecurePassword123"
administrator_org      = "System"
insecure_login         = "false"

# ------------------------------------------------
# CSE administrator user configuration
# ------------------------------------------------
cse_admin_user = "cse-user"
cse_admin_password = "AnotherSuperSecurePassword123"

# ------------------------------------------------
# VDC setup
# ------------------------------------------------
provider_vdc_name = "change-me-to-an-existing-pvdc"
nsxt_edge_cluster_name = "change-me-to-an-existing-edge-cluster"
network_pool_name = "change-me-to-an-existing-network-pool"

# ------------------------------------------------
# Catalog and OVAs
# ------------------------------------------------
tkgm_ova_folder = "/home/bob/tkgm"
tkgm_ova_file = "ubuntu-2004-kube-v1.22.9+vmware.1-tkg.1-2182cbabee08edf480ee9bc5866d6933.ova"
cse_ova_folder = "/home/bob/cse"
cse_ova_file = "VMware_Cloud_Director_Container_Service_Extension-4.0.1.ova"

# ------------------------------------------------
# Networking
# ------------------------------------------------
nsxt_manager_name = "change-me-to-an-existing-nsxt-manager"
nsxt_tier0_router_name = "VCD T0 edgeCluster1"

solutions_provider_gateway_gateway_ip = "10.0.0.1"
solutions_provider_gateway_gateway_prefix_length = "24"
solutions_provider_gateway_static_ips = [
    ["10.0.0.2", "10.0.0.14"],
    ["10.0.0.25", "10.0.0.60"],
]

cluster_provider_gateway_gateway_ip = "10.0.1.1"
cluster_provider_gateway_gateway_prefix_length = "24"
solutions_provider_gateway_static_ips = [
    ["10.0.1.2", "10.0.1.10"],
    ["10.0.1.20", "10.0.1.170"],
]

# ------------------------------------------------
# ALB
# ------------------------------------------------

