# Change configuration to your needs and rename to 'terraform.tfvars'
# For more details about the variables specified here, please read the guide first:
# https://registry.terraform.io/providers/vmware/vcd/latest/docs/guides/container_service_extension_4_0_install

# ------------------------------------------------
# VCD Provider config
# ------------------------------------------------
vcd_url                = "https://vcd.my-awesome-corp.com"
administrator_user     = "administrator"
administrator_password = "change-me"
administrator_org      = "System"
insecure_login         = "false"

# ------------------------------------------------
# CSE administrator user configuration
# ------------------------------------------------
# This user will be created by the Terraform configuration, so you can
# customise what its username and password will be.
cse_admin_username = "cse-admin"
cse_admin_password = "change-me"

# ------------------------------------------------
# # CSE Runtime Defined Entities setup
# ------------------------------------------------
# Version that the CAPVCD Runtime Defined Entity Type will have when created.
# For CSE v4.0 it should be 1.1.0
capvcd_rde_version = "1.1.0"
