# Change configuration to your needs and rename to 'terraform.tfvars'

# ------------------------------------------------
# Provider config
# ------------------------------------------------
vcd_url                = "https://vcd.my-awesome-corp.com"
cse_admin_username     = "cse-admin"
cse_admin_password     = "change-me"
administrator_org      = "System"
insecure_login         = "false"

# ------------------------------------------------
# Kubernetes cluster configuration
# ------------------------------------------------

