# Change configuration to your needs and rename to 'terraform.tfvars'

# ------------------------------------------------
# Provider config
# ------------------------------------------------
vcd_url                 = "https://vcd.my-awesome-corp.com"
cluster_author_user     = "cluster_author"
cluster_author_password = "change-me"
insecure_login          = "false"

# ------------------------------------------------
# CSE configuration
# ------------------------------------------------
capvcd_rde_version = "1.1.0" # Should be the same as the capvcd_rde_version used during CSE installation

# ------------------------------------------------
# Kubernetes cluster configuration
# ------------------------------------------------
# Name must contain only lowercase alphanumeric characters or '-', start with an alphabetic character, end with an alphanumeric,
# and contain at most 31 characters.
k8s_cluster_name = "example1"

# These specify the place where the cluster will be created. They were created
# during the CSE installation phase, so they should exist already.
cluster_organization     = "tenant_org"
cluster_vdc              = "tenant_vdc"
cluster_routed_network   = "tenant_net_routed"
cluster_author_api_token = "change-me"
ssh_public_key           = ""

# Specifies the number of VMs that the TKGm cluster will have.
control_plane_machine_count = "3" # MUST be an odd number and higher than 0
worker_machine_count        = "1" # MUST higher than 0

# Control plane dimensioning.
control_plane_sizing_policy    = "TKG Small"
control_plane_placement_policy = ""
control_plane_storage_profile  = "*"

# Worker dimensioning.
worker_sizing_policy    = "TKG Small"
worker_placement_policy = ""
worker_storage_profile  = "*"

# Storage and TKGm OVA.
disk_size    = "20Gi"
tkgm_catalog = "tkgm_catalog"
tkgm_ova     = "ubuntu-2004-kube-v1.22.9+vmware.1-tkg.1-2182cbabee08edf480ee9bc5866d6933"

# Internal networking.
pod_cidr     = "100.96.0.0/11"
service_cidr = "100.64.0.0/13"

# Extra required information. You can visit
# https://blogs.vmware.com/cloudprovider/2023/02/api-guide-for-tanzu-kubernetes-clusters-for-vmware-cloud-director.html
# to obtain these required parameters.
tkr_version = "v1.22.9---vmware.1-tkg.1"
os_info     = "ubuntu,20.04,amd64"
tkg_version = "v1.5.4"

# Configures a default Storage class for the TKGm cluster. If you don't want this,
# you can remove the variables below. Don't forget to delete them from 3.9-cluster-creation.tf as well,
# and the 'defaultStorageClassOptions' block from ../entities/tkgmcluster-template.json
default_storage_class_filesystem            = "ext4"
default_storage_class_name                  = "default-storage-class-1"
default_storage_class_storage_profile       = "*"
default_storage_class_delete_reclaim_policy = "true"
